body.theme-dark {
    --dimmed: 0.55;
    --upsize: 103%;
}

/* Modifications to not display properties in reading mode */
body:where(.theme-dark) {
    --metadata-display-reading: none;
}

body:where(.theme-dark) div.cm-contentContainer>div.cm-gutters {
    padding-top: unset !important;
}

/* Modifications for metadata container */
body:where(.theme-dark) div.metadata-container {
    & div.metadata-property-value {
        opacity: var(--dimmed);
    }
}

body:where(.theme-dark) div.modal-content.vertical-tabs-container {
    & ::-webkit-scrollbar-thumb {
        display: none !important;
    }
}

/* Modificatiions for MiniTabs plugin */

body:where(.theme-dark) div.TabsCodeBlock.TabsCodeBlock-buns {
    border-radius: unset;
    background-color: var(--color-base-20);

    & button {
        border-radius: unset;
        background-color: inherit;
        opacity: var(--dimmed);
    }

    & button.active {
        background-color: var(--color-base-10);
        font-weight: bold;
        color: var(--text-accent);
        opacity: 1;
    }
}

/* Modifications for tab containers */

body:where(.theme-dark) .workspace-tabs:not(.mod-stacked) .workspace-tab-header:is(.mod-active, .is-active)>.workspace-tab-header-inner {
    opacity: 1;
}

body:where(.theme-dark) .workspace-tabs:not(.mod-stacked) .workspace-tab-header>.workspace-tab-header-inner {
    opacity: var(--dimmed);
}

/* Callout modifications */
body:where(.theme-dark) div.callout {
    & .callout-title {
        margin-bottom: 12.5px;
    }

    & .callout-content {
        margin: 5px 0px;
    }
}


/* Active line changes colour */
body:where(.theme-dark) .cm-gutterElement.cm-active {
    color: rgba(var(--color-green-rgb), 60%);
}