body.theme-dark {
    --dimmed: 0.55;
    --upsize: 103%;
    --small-font: 0.8rem;
    --expand: 110%;
    --less-letter-spacing: -3px;
}

body:where(.theme-dark) div.setting-item-control {
    & div.checkbox-container {
        background-color: var(--color-base-05);
        box-shadow: unset;
        font-weight: bolder;
        scale: var(--upsize);
    }

    & div.checkbox-container::after {
        content: ':(';
        width: max-content;
        background-color: inherit;
        color: var(--color-red);
        box-shadow: unset;
    }

    & div.checkbox-container.is-enabled::after {
        content: ':)';
        color: var(--color-green);
    }

    & input.slider {
        border-radius: unset;
    }
}

body:where(.theme-dark) div[aria-label="Restore default"],
body:where(.theme-dark) div[aria-label="Restore default settings"] {
    & svg {
        display: none;
    }

    &::after {
        content: "恢";
    }
}

body:where(.theme-dark) div[aria-label="Unpin"] {
    & svg {
        display: none;
    }

    &::before {
        content: "!";
        scale: var(--upsize);
    }
}

body:where(.theme-dark) span[aria-label="New tab"] {
    & svg {
        display: none;
    }

    &::before {
        content: "^_^";
        opacity: var(--dimmed);
        font-size: var(--small-font);
    }
}

body:where(.theme-dark) div[aria-label="Close"] {
    & svg {
        display: none;
    }

    &::before {
        content: "消";
        scale: var(--small-font);
    }
}

body:where(.theme-dark) div.workspace-tab-header-tab-list {
    & span svg {
        display: none;
    }

    & ::before {
        content: "?";
        opacity: var(--dimmed);
    }
}

body:where(.theme-dark) div[aria-label="Open quick switcher"] {

    & svg {
        display: none;
    }

    &::before {
        content: "换";
    }

}

body:where(.theme-dark) div[aria-label="Omnisearch"] {
    & svg {
        display: none;
    }

    &::before {
        content: "寻";
    }
}

body:where(.theme-dark) div[aria-label="Open command palette"] {
    & svg {
        display: none;
    }

    &::before {
        content: ":";
    }
}

body:where(.theme-dark) div[aria-label="Insert template"] {
    & svg {
        display: none;
    }

    &::before {
        content: "T";
    }
}

body:where(.theme-dark) div[aria-label="Open graph view"] {
    & svg {
        display: none;
    }

    &::after {
        content: "图";
    }
}

body:where(.theme-dark) div[aria-label="Create new drawing"] {
    & svg {
        display: none;
    }

    &::after {
        content: "画";
    }
}


body:where(.theme-dark) div[aria-label="Files"] div.workspace-tab-header-inner div.workspace-tab-header-inner-icon {
    & svg {
        display: none;
    }

    &::after {
        content: "档";
        font-size: var(--small-font);
    }
}

body:where(.theme-dark) div[aria-label="File Tree"] div.workspace-tab-header-inner div.workspace-tab-header-inner-icon {
    & svg {
        display: none;
    }

    &::after {
        content: "树";
    }
}

body:where(.theme-dark) div[aria-label="Bookmarks"] div.workspace-tab-header-inner div.workspace-tab-header-inner-icon {
    & svg {
        display: none;
    }

    &::after {
        content: "B";
    }
}

body:where(.theme-dark) .nav-folder-children .collapse-icon {
    &::after {
        color: var(--color-purple);
    }
}

body:where(.theme-dark) .nav-folder-children .nav-folder-children .collapse-icon {
    &::after {
        color: var(--color-pink);
    }
}

body:where(.theme-dark) .tree-item-children {
    /* border-inline-start: var(--nav-indentation-guide-width) solid rgba(var(--color-blue-rgb), 0.3); */
    border-inline-start: unset;
}

body:where(.theme-dark) .nav-folder-children .tree-item-children {
    border-inline-start: var(--nav-indentation-guide-width) solid rgba(var(--color-purple-rgb), 0.3);
}

body:where(.theme-dark) .nav-folder-children .nav-folder-children .tree-item-children {
    /* border-inline-start: var(--nav-indentation-guide-width) solid rgba(var(--color-pink-rgb), 0.3); */
    border-inline-start: unset;
}

body:where(.theme-dark) div[aria-label="New note"] {
    & svg {
        display: none;
    }

    &::after {
        content: "记";
        font-size: var(--small-font);
    }
}

body:where(.theme-dark) div[aria-label="New folder"] {
    & svg {
        display: none;
    }

    &::after {
        content: "夹";
        font-size: var(--small-font);
    }
}

body:where(.theme-dark) div[aria-label="Change sort order"] {
    & svg {
        display: none;
    }

    &::after {
        content: "排";
    }
}

/* Mod icons for alternate file tree plugin */

body:where(.theme-dark) div[aria-label="Bookmark the active tab..."] {
    & svg {
        display: none;
    }

    &::after {
        content: "附";
    }
}

body:where(.theme-dark) div[aria-label="New group"] {
    & svg {
        display: none;
    }

    &::after {
        content: "组";
    }
}

body:where(.theme-dark) div[aria-label="Collapse results"] {
    & svg {
        display: none;
    }

    &::after {
        content: "o_o";
        letter-spacing: var(--less-letter-spacing);
    }
}

body:where(.theme-dark) div[aria-label="Show more context"] {
    & svg {
        display: none;
    }

    &::after {
        content: "?";
    }
}

body:where(.theme-dark) div[aria-label="Show search filter"] {
    & svg {
        display: none;
    }

    &::after {
        content: "搜滤";
    }
}

body:where(.theme-dark) div[aria-label="Collapse all"] {
    & svg {
        display: none;
    }

    &::after {
        content: "...";
        letter-spacing: var(--less-letter-spacing);
        font-size: var(--small-font);
    }
}

body:where(.theme-dark) div.workspace-tabs.mod-top.mod-top-left-space div.workspace-tab-header-container-inner {
    & :hover {
        scale: var(--upsize);
    }
}

body:where(.theme-dark) div.workspace-drawer-vault-actions {
    & span svg {
        display: none;
    }

    & :nth-of-type(1)::before {
        content: "?";
    }

    & :nth-of-type(2)::before {
        content: "置";
    }
}

body:where(.theme-dark) div.workspace-drawer-vault-switcher div.workspace-drawer-vault-switcher-icon {
    & svg {
        display: none;
    }
}

body:where(.theme-dark) div.workspace-tab-header[data-type="outline"] div {
    & svg {
        display: none;
    }

    & ::before {
        content: "概";
    }
}

body:where(.theme-dark) div.workspace-tab-header[data-type="backlink"] div {
    & svg {
        display: none;
    }

    & ::after {
        content: "反链";
    }
}

body:where(.theme-dark) div.workspace-tab-header[data-type="file-properties"] div {
    & svg {
        display: none;
    }

    & ::after {
        content: "._.";
        font-size: var(--small-font);
    }
}

body:where(.theme-dark) div.workspace-tab-header[data-type="outgoing-link"] div {
    & svg {
        display: none;
    }

    & ::after {
        content: "出链";
    }
}

body:where(.theme-dark) div[aria-label="All properties"] div {
    & svg {
        display: none;
    }

    & ::after {
        content: ".-.";
        font-size: var(--small-font);
    }
}

body:where(.theme-dark) div[aria-label="Graph view"] div {
    & svg {
        display: none;
    }

    & :nth-of-type(1):after {
        content: "图";
    }
}

body:where(.theme-dark) div[aria-label="Open graph settings"] {
    & svg {
        display: none;
    }

    &::after {
        content: "置";
    }
}

body:where(.theme-dark) div[aria-label="Start timelapse animation"] {
    & svg {
        display: none;
    }

    &::after {
        content: ">_<";
        font-size: var(--small-font);
    }
}

body:where(.theme-dark) div.side-dock-actions {
    scale: var(--upsize);
    opacity: var(--dimmed);

    &:hover {
        opacity: 1;
    }

    & :nth-of-type(6n):hover {
        color: var(--color-blue);
        scale: var(--expand);
    }

    & :nth-of-type(6n+1):hover {
        color: var(--color-purple);
        scale: var(--expand);
    }

    & :nth-of-type(6n+2):hover {
        color: var(--color-cyan);
        scale: var(--expand);
    }

    & :nth-of-type(6n+3):hover {
        color: var(--color-pink);
        scale: var(--expand);
    }

    & :nth-of-type(6n+4):hover {
        color: var(--color-green);
        scale: var(--expand);
    }

    & :nth-of-type(6n+5):hover {
        color: var(--color-yellow);
        scale: var(--expand);
    }
}

body:where(.theme-dark) div.sidebar-toggle-button {
    & div svg {
        display: none;
    }

    & ::after {
        content: "o_o";
        letter-spacing: var(--less-letter-spacing);
        scale: var(--upsize);
        opacity: var(--dimmed);
    }

    & :hover {
        color: var(--color-blue);
        scale: var(--expand);
        filter: brightness(1.25);
    }
}

body:where(.theme-dark) .titlebar-button.mod-minimize {
    &::after {
        content: "缩";
    }

    &:hover {
        color: var(--color-cyan);
    }
}

body:where(.theme-dark) .titlebar-button.mod-maximize {
    &::after {
        content: "扩";
    }

    &:hover {
        color: var(--color-blue);
    }
}

body:where(.theme-dark) .titlebar-button.mod-close {
    &::after {
        content: "关";
    }

    &:hover {
        background-color: unset !important;
        color: var(--color-red);
    }
}

body:where(.theme-dark) .titlebar-button {
    opacity: var(--dimmed);
    padding: 13px !important;

    & svg {
        display: none;
    }

    &:hover {
        opacity: unset;
        scale: var(--expand);
    }
}

body:where(.theme-dark) div.modal-content.vertical-tabs-container>div.vertical-tab-header>div>div.vertical-tab-header-group-items {
    & div.vertical-tab-nav-item {
        opacity: var(--dimmed);
    }

    & div.vertical-tab-nav-item.is-active {
        opacity: 1;
    }
}