/* Modifications for alternate file tree plugin */
body:where(.theme-dark) div.oz-folders-action-items.file-tree-header-fixed {
    border-radius: unset;
    background-color: var(--color-base-00);
    border: unset;

    & svg {
        scale: var(--upsize);
    }
}

body:where(.theme-dark) .oz-file-tree-header{
    display: none;
}

body:where(.theme-dark) .collapse-icon,
body:where(.theme-dark) .oz-icon-div {
    & svg {
        display: none;
    }

    &::after {
        content: "|";
        margin-left: 1.5px;
        color: var(--color-blue);
    }
}

body:where(.theme-dark) .oz-icon-div::after {
    padding-inline-end: 10px;
}

body:where(.theme-dark) .oz-folder-block {
    padding-top: unset;
}

body:where(.theme-dark) .oz-folder-name {
    transform: translateY(-2px);
    margin: 2px 0px;
    font-size: 0.875rem;
}

body:where(.theme-dark) span.oz-nav-file-tag {
    font-size: 0.7rem;
}

body:where(.theme-dark) div.oz-nav-file-title[data-path$=".pdf"] {
    & div svg {
        display: none;
    }

    & span.oz-nav-file-tag {
        display: none;
    }

    & div::after {
        content: ".pdf";
        opacity: var(--dimmed);
    }
}

body:where(.theme-dark) div.oz-nav-file-title[data-path$=".md"] {
    & div svg {
        display: none;
    }

    & span.oz-nav-file-tag {
        display: none;
    }

    & div::after {
        content: ".md";
        opacity: var(--dimmed);
    }
}

body:where(.theme-dark) div.oz-nav-file-title[data-path$=".jpg"] {
    & div svg {
        display: none;
    }

    & span.oz-nav-file-tag {
        display: none;
    }

    & div::after {
        content: ".jpg";
        opacity: var(--dimmed);
    }
}


body:where(.theme-dark) div.oz-nav-file-title[data-path$=".png"] {
    & div svg {
        display: none;
    }

    & span.oz-nav-file-tag {
        display: none;
    }

    & div::after {
        content: ".png";
        opacity: var(--dimmed);
    }
}


body:where(.theme-dark) div.oz-nav-file-title[data-path$=".doc"] {
    & div svg {
        display: none;
    }

    & span.oz-nav-file-tag {
        display: none;
    }

    & div::after {
        content: ".doc";
        opacity: var(--dimmed);
    }
}

body:where(.theme-dark) div.oz-folder-name.is-folder-active {
    font-weight: unset;
    color: var(--text-accent) !important;
}

