/* Modifications for note gallery plugin with banner*/
body:where(.theme-dark) div.card-content-container>div>*> :where(span[alt=banner]) {
    display: none !important;
}

/* Modfiications for banner snippet */
body:where(.theme-dark) .banner img[alt='banner'] {
    margin: 1px;
    border-radius: 0px 0px 10px 10px;
}

body:has(*.banner) {
    --banner-height: 235px;
}
